
/*
Tamanhos: Typical Device Breakpoints
Pequenas Telas: Até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: Acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #D9A87E ,  #D9C6B0);
    }

    section#login {
        width: 80vw;
    }
    section#login > div#imagen {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
    div#formulario > h1{ 
        font-size: 1.6em;
       }
       div#formulario > p {
        font-size: 1.2em;
        margin: 5px 20px;
    }
    form{
        margin-top: 70px
    }
    div.campo{
        background-color: #fffbff;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        margin: 10px 0px;
        border: 1px solid black;
        padding: 0px 5px;
    }
    div.campo > span{

        font-size: 2em;
        width: 40px;
        padding: 3px;
    }
    div.campo > input{
        font-size: 1em;
        height: 100%;
        width: calc(100% - 12%);
        border: 0px;
        border-radius: 5px;
        transform: translateY(-10px);
    }
}
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #D9A87E ,  #D9C6B0);
    }
    section#login {
        width: 950px;
    }
   section#login > div#imagen {
    float: right;
    width: 50%;
    height: 100%;
   }
   section#login > div#formulario {
    float: left;
    width: 50%
   } 
   div#formulario > h1{ 
    font-size: 2em;
   }
   div#formulario > p {
    font-size: 1.2em;
    margin: 5px 20px;
}
form{
    margin-top: 70px
}
}